<h1>Stupid Coaching</h1>

<div class='card-you'>
  <h2> <%= @question %> </h2>
  <h4>- You</h4>
</div>

<div class='card-coach'>
  <h2> <%= @answer %> </h2>
   <h4>- Your Coach</h4>
</div>

<%= link_to 'Ask a new question', ask_path %>
